<h1 align="left"> 
 <img style="float:right;"  style="width:40px;height:25px;margin-top:2px" src="https://media.giphy.com/media/oUjv1KgOwiLkY/giphy.gif">WelCome To CADA    </h1>

<mat-toolbar color="primary" class="mat-elevation-z3">
	<nav>
		<a mat-button routerLink="/first">home</a>
		<a mat-button routerLink="/second">about</a>

		<a mat-button routerLink="/third"><mat-icon>settings</mat-icon>activities</a>
	</nav>
</mat-toolbar>

<div class="app-content">
	<router-outlet></router-outlet>
</div>




<app-carousel>
  </app-carousel>
