<!--
<mat-nav-list>
  <a mat-list-item *ngFor="let link of links" [href]="link.href" target="_blank">
    <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
    <p matLine>{{link.title}}</p>
  </a>
</mat-nav-list>

<div  id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div style="float:left;" class="carousel-inner">
    <div class="carousel-item active">
      <img style="width:200px;height:150px;margin-top:180px;" class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Gokak_Falls.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img style="width:200px;height:150px"  class="d-block w-100" src="https://lh3.googleusercontent.com/proxy/DyO3126GO-4nFc6eVjtB3YHQyn-M-tcuKM-QRoBT0NDiomlSrk-KnYfRLEZl081QwXkA8Xy-jQndeYF99XYz5H5YwwRAS8HU" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img style="width:200px;height:150px"  class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRGQqGO9Yjdm2kzEBOmIdXJCaJDRC55gzYJ0yFr_Zd5tKvLw0kD" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img style="width:200px;height:150px"  class="d-block w-100" src="https://lh3.googleusercontent.com/proxy/De6swC315sjEEbtjoLmPXyywgb9npte0WoUMsKtwMofyvdfTJBgdqWiQTiAmWXuTyHFSNvR1Mnyy0BkZBw95U9_DwshrvWlXZT64iZgJOQyPf6k" alt="Third slide">
    </div>
  </div>
</div>
-->

<h2>CADA  </h2>
<p> COMMAND AREA DEVELOPMENT AUTHORITY </p>
<mat-tab-group mat-stretch-tabs>	<mat-tab label="Ghataprabha">
<img  style="width:80%;height:50%;margin:10% 0% 0% 10%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRGQqGO9Yjdm2kzEBOmIdXJCaJDRC55gzYJ0yFr_Zd5tKvLw0kD">
</mat-tab>
	<mat-tab label="Malaprabha">
<img  style="width:80%;height:50%;margin:10% 0% 0% 10%;" src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2013/07/03/342332.gif?itok=uSA9I81-">
</mat-tab>
	<mat-tab label="AUTHORITY">
<img  style="width:80%;height:50%;margin:10% 0% 0% 10%;" src="https://www.fao.org/3/V5930E/V5930E23.gif">
</mat-tab>
	<mat-tab label="Flow">
<img  style="width:80%;height:50%;margin:10% 0% 0% 10%;" src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2014/07/22/421050.gif?itok=SxdjlwZv">
</mat-tab>
<mat-tab-group mat-stretch-tabs>

