
<!--
<form #form="ngForm">
<mat-form-field color="accent" style="width:100%">
  <input matInput placeholder="Search something" [(ngModel)]="search" required name="search">
  <button mat-icon-button matSuffix (click)="search = ''" matTooltip="Clear input"><mat-icon>cancel</mat-icon></button>
  <mat-error>This is required.</mat-error>
</mat-form-field>
<button mat-button color="primary" (click)="submit()" [disabled]="form.invalid">Submit</button>
</form>

<p>
  kumar</p>
  <mat-tab-group>
    	<mat-tab label="action plan">
    	</mat-tab>
      <mat-tab label="action plan">
    	</mat-tab>
     </mat-tab-group>
     -->
    <a style="float:right;   background-color:red" mat-raised-button routerLink="/third">
    back</a>

<h2>  WCS Nargund society  </h2>
<pre>
Registration details
Financial status
elected body details elected on (6 months before alerts) proceeding details and date
MoU status (6 months before alerts) mou details & date
Area
Member Details
 </pre>